html
    head
        title Success
    body
        h1 Installation completed
        p Thanks for installing Slack Game Server app.

        p Sorry for this page is stylized so poorly. We spent all money for design on games.